PRIVATE_KEY=
BSCSCAN_API_KEY=

VRF_COORDINATOR=
USDT_TOKEN=
VRF_KEY_HASH=
SALARY_WALLET=
FREE_FUND_WALLET=
ADMIN_WALLET=
VRF_SUBSCRIPTION_ID=

BSC_TESTNET_URL=https://data-seed-prebsc-1-s1.binance.org:8545/
BSC_MAINNET_URL=https://bsc-dataseed.binance.org/

